*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar {
  background-color: #494647;
  color: #d3d3d3;
  width: 100vw;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.navbar-toggle-active .navbar-toggle-icon {
  transform: rotate(180deg);
}

.navbar-toggle-icon {
  font-size: 24px;
  color: #d3d3d3;
  transition: transform 0.3s ease-in-out;
  display: none;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.navbar-menu-open {
  transform: translateY(0%);
}

.navbar-item {
  position: relative;
}

.navbar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #d3d3d3;
}

.navbar-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #494647;
  display: none;
  padding: 10px;
  z-index: 1;
}

.navbar-item:hover .navbar-submenu {
  display: block;
}

.navbar-submenu-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #d3d3d3;
}

@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #494647;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-menu-open {
    transform: translateY(0%);
  }
  .navbar-toggle-icon {
    display: block;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
  }

  .navbar-submenu {
    position: static;
    background-color: #494647;
    display: none;
    padding: 10px;
    z-index: 1;
    margin-top: 10px;
  }
}
